<section class="blog_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>From Our Blog</h2>
    </div>

    <div class="row">
      <!-- Book 1 -->
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img
              src="./assets/images/devops.jpg"
              alt="Automating DevOps with GitLab CI/CD Pipelines"
            />
            <h4 class="blog_date">
              <span> 2023 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Automating DevOps with GitLab CI/CD Pipelines</h5>
            <p>Christopher Cowell, Nicholas Lotz and Chris Timberlake</p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <!-- Book 2 -->
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/aws.jpg" alt="AWS Cookbook" />
            <h4 class="blog_date">
              <span> 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>AWS Cookbook</h5>
            <p>John Culkin and Mike Zazon</p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <!-- Book 3 -->
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img
              src="./assets/images/serverless.jpg"
              alt="Serverless Development on AWS"
            />
            <h4 class="blog_date">
              <span> 2024 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Serverless Development on AWS</h5>
            <p>Sheen Brisals and Luke Hedger</p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Book 4 -->
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img
              src="./assets/images/redis.jpg"
              alt="Building Scalable Apps with Redis and Node.js"
            />
            <h4 class="blog_date">
              <span> 2014 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Building Scalable Apps with Redis and Node.js</h5>
            <p>Joshua Johanan</p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <!-- Book 5 -->
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/terraform.jpg" alt="Terraform Cookbook" />
            <h4 class="blog_date">
              <span> 2024 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Terraform Cookbook</h5>
            <p>Kerim Satirli and Taylor Dolezal</p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <!-- Book 6 -->
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img
              src="./assets/images/awsaction.jpg"
              alt="Amazon Web Services in Action"
            />
            <h4 class="blog_date">
              <span> 2023 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Amazon Web Services in Action</h5>
            <p>Michael Wittig and Andreas Wittig</p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b1.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Eius, dolor? Vel velit sed doloremque</h5>
            <p>
              Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo?
              Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis
              cupiditate, ad beatae voluptatem numquam dignissimos ab porro
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b2.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Minus aliquid alias porro iure fuga</h5>
            <p>
              Officiis veritatis id illo eligendi repellat facilis animi
              adipisci praesentium. Tempore ab provident porro illo ex obcaecati
              deleniti enim sequi voluptas at. Harum veniam eos nisi distinctio!
              Porro, reiciendis eius.
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b1.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Eius, dolor? Vel velit sed doloremque</h5>
            <p>
              Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo?
              Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis
              cupiditate, ad beatae voluptatem numquam dignissimos ab porro
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b1.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Eius, dolor? Vel velit sed doloremque</h5>
            <p>
              Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo?
              Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis
              cupiditate, ad beatae voluptatem numquam dignissimos ab porro
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b2.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Minus aliquid alias porro iure fuga</h5>
            <p>
              Officiis veritatis id illo eligendi repellat facilis animi
              adipisci praesentium. Tempore ab provident porro illo ex obcaecati
              deleniti enim sequi voluptas at. Harum veniam eos nisi distinctio!
              Porro, reiciendis eius.
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b1.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Eius, dolor? Vel velit sed doloremque</h5>
            <p>
              Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo?
              Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis
              cupiditate, ad beatae voluptatem numquam dignissimos ab porro
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b1.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Eius, dolor? Vel velit sed doloremque</h5>
            <p>
              Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo?
              Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis
              cupiditate, ad beatae voluptatem numquam dignissimos ab porro
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b2.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Minus aliquid alias porro iure fuga</h5>
            <p>
              Officiis veritatis id illo eligendi repellat facilis animi
              adipisci praesentium. Tempore ab provident porro illo ex obcaecati
              deleniti enim sequi voluptas at. Harum veniam eos nisi distinctio!
              Porro, reiciendis eius.
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b1.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Eius, dolor? Vel velit sed doloremque</h5>
            <p>
              Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo?
              Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis
              cupiditate, ad beatae voluptatem numquam dignissimos ab porro
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b1.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Eius, dolor? Vel velit sed doloremque</h5>
            <p>
              Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo?
              Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis
              cupiditate, ad beatae voluptatem numquam dignissimos ab porro
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b2.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Minus aliquid alias porro iure fuga</h5>
            <p>
              Officiis veritatis id illo eligendi repellat facilis animi
              adipisci praesentium. Tempore ab provident porro illo ex obcaecati
              deleniti enim sequi voluptas at. Harum veniam eos nisi distinctio!
              Porro, reiciendis eius.
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/b1.jpg" alt="" />
            <h4 class="blog_date">
              <span> 19 January 2021 </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>Eius, dolor? Vel velit sed doloremque</h5>
            <p>
              Incidunt magni explicabo ullam ipsa quo consequuntur eveniet illo?
              Aspernatur nam dolorem a neque? Esse eaque dolores hic debitis
              cupiditate, ad beatae voluptatem numquam dignissimos ab porro
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
