<section class="slider_section">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h5>Book Store</h5>
                <h1>
                  For All Your <br />
                  Reading Needs
                </h1>
                <p>
                  Welcome to the Book Store, your one-stop destination for all
                  types of books! Our project aims to create a comprehensive and
                  user-friendly platform where students and book enthusiasts can
                  easily find and explore a wide variety of books across
                  different genres and categories.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="./assets/images/sliderimg.png" alt="Slider Image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="catagory_section layout_padding">
  <div class="catagory_container">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Books Categories</h2>
        <p>
          Explore a wide range of book categories that cater to all reading
          preferences.
        </p>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="./assets/images/cat1.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>Textbooks</h5>
              <p>
                Discover comprehensive textbooks that provide detailed insights
                and knowledge on various academic subjects, helping you excel in
                your studies.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="./assets/images/cat2.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>Science</h5>
              <p>
                Dive into the world of science with books that cover a range of
                topics from physics and chemistry to biology and environmental
                science.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="./assets/images/cat3.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>History</h5>
              <p>
                Travel back in time with history books that explore significant
                events, cultures, and figures that have shaped the world we live
                in today.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="./assets/images/cat4.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>Biography</h5>
              <p>
                Read inspiring biographies that provide a deep dive into the
                lives and achievements of influential people from various
                fields.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="./assets/images/cat5.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>Adventure</h5>
              <p>
                Embark on thrilling adventures with books that take you on
                journeys through uncharted territories and epic quests.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="./assets/images/cat6.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>Fantasy</h5>
              <p>
                Enter magical realms and fantastical worlds with fantasy books
                that ignite the imagination and transport you to another
                dimension.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
